*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:
"Microsoft YaHei",
Arial;

background:#050816;

color:#e5e7eb;

line-height:1.8;

}



/* 顶部 */

.hero{


height:620px;

display:flex;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;


background:
linear-gradient(
135deg,
#050816,
#111827,
#172554
);


}



.glow{


position:absolute;

width:500px;

height:500px;

background:#2563eb;

filter:blur(160px);

opacity:.35;


}



.profile{


text-align:center;

position:relative;

z-index:2;


}




.avatar{


width:150px;

height:150px;

margin:auto;

border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


font-size:60px;

font-weight:bold;


background:
linear-gradient(
135deg,
#38bdf8,
#6366f1
);


color:white;


box-shadow:
0 0 40px #38bdf8;


}




h1{


font-size:52px;

margin-top:25px;


}



.profile h2{


color:#38bdf8;

font-weight:400;

font-size:25px;


}




.desc{


margin-top:20px;

color:#cbd5e1;

font-size:18px;


}




.buttons{


margin-top:35px;


}


.buttons a{


display:inline-block;

padding:12px 35px;

margin:10px;


border-radius:30px;


background:#2563eb;


color:white;

text-decoration:none;


transition:.3s;


}



.buttons a:hover{


transform:translateY(-5px);


box-shadow:
0 0 20px #38bdf8;


}




section{


max-width:1000px;

margin:80px auto;

padding:0 30px;


}




.title{


font-size:34px;

margin-bottom:30px;

color:#38bdf8;


}




.card,
.project{


background:

rgba(15,23,42,.8);


border:1px solid #1e40af;


border-radius:18px;


padding:30px;


box-shadow:

0 0 30px rgba(37,99,235,.15);


}



.grid{


display:grid;

grid-template-columns:
repeat(3,1fr);


gap:25px;


}



.project{


transition:.3s;


}


.project:hover{


transform:
translateY(-8px);


border-color:#38bdf8;


}





.tags span{


display:inline-block;


padding:10px 25px;


margin:10px;


background:#1e3a8a;


border-radius:30px;


}




footer{


text-align:center;


padding:50px;


color:#64748b;


}





@media(max-width:700px){


.grid{

grid-template-columns:1fr;

}


h1{

font-size:40px;

}


}